.card {
    width: 100%;
    max-width: 334px;
    display: flex;
    flex-direction: column;

}
.CardImage {
    
    max-width: 100%;
    height: 192px;
    /* background-size: cover; */
    object-fit: cover;
    object-position: center;
    /* background-repeat: no-repeat; */
    border-radius: 4px 4px 0px 0px;
}
.CardContent {
    padding: 25px;
}